:root {
   --orange-gradient: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
   --color-blue: #828bb2;
   --color-orange:  #ff6c00;
}

*{
   font-family: 'Poppins', sans-serif;
}
body {
   height: 3500px;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Roboto Slab', serif;
}

.add-btn {
   display: inline-block;
   text-align: center;
   line-height: 50px;
   width: 50px;
   height: 50px;
   background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
   background-size: 200%;
   background-position: 0;
   color: white;
   border-radius: 50%;
   box-shadow: 0 5px 5px rgba(255, 108, 0, 0.4);
   transition: all 0.5s;
}

.add-btn:hover {
   color: white;
   background-size: 100%;
   box-shadow: 0 10px 20px rgba(255, 108, 0, 0.2);
}

.divider {
   height: .5px;
   background: #000;
   background: -webkit-linear-gradient(left, rgb(255,255,255) 0%, rgb(50,50,50) 50%, rgb(255,255,255) 100%);
 }

/* navbar */

.sticky-wrapper {
   position: absolute;
   top: 40px;
   left: 0;
   right: 0;
   width: 100%;
   /* left: 50%;
   transform: translateX(-50%); */
   padding-left: 0px;
   padding-right: 0px;
   transition: all 0.5s ease;
   z-index: 999;
  
}

.scrolled {
   position: fixed;
   top: 0px;
   max-width: 100%;
}

#navbarNav .nav-link {
   text-transform: uppercase;
   font-size: 14px;
   font-weight: 600;
   margin-right: 20px;
}

#navbarNav .nav-item:last-child {
   text-transform: uppercase;
   font-size: 14px;
   font-weight: 600;
   margin-right: 0px;
}

#navbarNav .nav-link:hover {
   color: var(--color-orange);
   
}

#searchWrapper {
   height: 52px;
   padding: 8px 16px;
   background: var(--orange-gradient);
   transition: all 0.5s;
}
#searchWrapper.closed {
   height: 0px;
   padding: 0px 16px;
   overflow: hidden;
}
#searchWrapper input {
   border: none;
   background: transparent;
}
#searchWrapper input::placeholder {
   color: rgb(156, 102, 102);
}
#searchWrapper input:focus {
   box-shadow: none;
}

.btn-close:focus {
   box-shadow: none !important;
}

/* masthead */

.masthead {
   background: url(./img/banner-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 100vh;
}

/* features-area */

.features-area {
   padding: 100px 0;
}

.h2Cate {
   background: linear-gradient(180deg, #000000 0%, #f8a202 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.features-border {
   border-right: 1px solid #eeeeee;
}

.features-card:hover {
   transform: scale(1.08);
}

/* category-area */

.category-link{
   overflow: hidden;
   position: relative;
}

.category-link span{
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   text-transform: uppercase;
   color: white;
   font-weight: 600;
   width: 100%;
   height: 100%;
   top: 100%;
   left: 0;
   backdrop-filter: blur(1px);
   background: linear-gradient(to bottom, #00000000 , #00000099);
   transition: all 0.3s;
}

.category-link:hover span{
   top: 0;
}

/* card-product */

.product-card {
   max-width: 300px;
   margin-left: auto;
   margin-right: auto;
}

.btn-action {
   display: flex;
   align-items: center;
   padding: 0;
   border: none;
   background: transparent;
   margin-right: 8px;
   overflow: hidden;
}

.btn-action .btn-icon {
   width: 30px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--color-blue);
   border-radius: 50%;
   color: black;;
   flex-shrink: 0;
}

.btn-action:hover .btn-icon {
   background: var(--orange-gradient);
}

.btn-action span {
   text-transform: uppercase;
   font-size: 13px;
   max-width: 0px;
   height: auto;
   white-space: nowrap;
   transition: all 0.3s linear;
}

.btn-action:hover span {
   margin-left: 8px;
   margin-right: 8px;
   max-width: 200px;
   height: auto;
}

.swiper {
   height: 500px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
   background-color: #000000;
}

.swiper-button-next:after , .swiper-button-prev:after {
   color: #000000;
}



@media screen and (max-width: 992px) {
   .pers {
      padding-top: 140px;
   }
   .scarpa {
      max-height: 250px;
      max-width: 450px;
      display: flex;
      justify-content: center;
   }
}