:root {
   --orange-gradient: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
   --color-blue: #828bb2;
   --color-orange:  #ff6c00;
}

*{
   font-family: 'Poppins', sans-serif;
}
body {
   height: 1500px;

}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Roboto Slab', serif;
}

.add-btn {
   display: inline-block;
   text-align: center;
   line-height: 50px;
   width: 50px;
   height: 50px;
   background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
   background-size: 200%;
   background-position: 0;
   color: white;
   border-radius: 50%;
   box-shadow: 0 5px 5px rgba(255, 108, 0, 0.4);
   transition: all 0.5s;
}

.add-btn:hover {
   color: white;
   background-size: 100%;
   box-shadow: 0 10px 20px rgba(255, 108, 0, 0.2);
}

/* navbar */

.sticky-wrapper {
   position: absolute;
   top: 40px;
   left: 0;
   right: 0;
   width: 100%;
   /* left: 50%;
   transform: translateX(-50%); */
   padding-left: 0px;
   padding-right: 0px;
   transition: all 0.5s ease;
   
  
}

.scrolled {
   position: fixed;
   top: 0px;
   max-width: 100%;
}

#navbarNav .nav-link {
   text-transform: uppercase;
   font-size: 14px;
   font-weight: 600;
   margin-right: 20px;
}

#navbarNav .nav-item:last-child {
   text-transform: uppercase;
   font-size: 14px;
   font-weight: 600;
   margin-right: 0px;
}

#navbarNav .nav-link:hover {
   color: var(--color-orange);
   
}

#searchWrapper {
   height: 52px;
   padding: 8px 16px;
   background: var(--orange-gradient);
   transition: all 0.5s;
}
#searchWrapper.closed {
   height: 0px;
   padding: 0px 16px;
   overflow: hidden;
}
#searchWrapper input {
   border: none;
   background: transparent;
}
#searchWrapper input::placeholder {
   color: rgb(156, 102, 102);
}
#searchWrapper input:focus {
   box-shadow: none;
}

.btn-close:focus {
   box-shadow: none !important;
}

/* masthead */

.masthead {
   background: url(./img/banner-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 100vh;
}

@media screen and (max-width: 992px) {
   .pers {
      padding-top: 140px;
   }
   .scarpa {
      max-height: 250px;
      max-width: 450px;
      display: flex;
      justify-content: center;
   }
}